@charset "ISO-8859-1";
 body{
            background-color: rgba(244, 241, 241, 0);
        }
        h1  
        {
            background-color: rgb(102, 67, 67);
            width: 500px;
            padding: 35px;
            font-size: 45px;
        }
        input
        {
            border-radius: 10px;
            background-color: rgba(36, 36, 134, 0.119);
            width: 150px;
            height: 35px;
        }